.container {
	overflow: auto;
}

#userRow, #selectRow, #fightRow, #defenderRow {
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.characterContainer {
	min-height: 200px;
	min-width: 200px;
	float: left;
	border: 5px solid black;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	overflow: auto;
}

img {
	height: 150px;
	width: auto;
	border: 1px solid green;
	margin-top: 5px;
}

h2 {
	clear: both;
}

h3, p {
	margin: 0px;
}

#userRow > .characterContainer {
	background-color: grey;
}

#selectRow > .characterContainer {
	background-color: red;
}

#defenderRow > .characterContainer {
	background-color: black;
	color: white;
}